*.svn
*.iml
*.gradle
*.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.DS_Store
*.log
*/build
build/
node_modules
*.xcworkspace
*/Podfile.lock
*/Pods
*/build.xcconfig
*/ExportOptions.plist
*/ProvisionFile.plist